
<div class="col-md-12">
    <h1 ng-bind="title"></h1>

</div>

<div class="col-md-12">
    <progressbar id="1" value="50"></progressbar>
</div>

<div class="col-md-12">
    <form ng-submit="addNote()">
        <div class="form-group">
            <input type="text"
                   ng-model="newNote.title"
                   class="form-control"
                   placeholder="Title.." />
        </div>

        <div class="form-group">
            <input type="text"
                   ng-model="newNote.description"
                   class="form-control"
                   placeholder="Description.." />
        </div>

        <button type="submit"
                class="btn btn-success">
            Add Note
        </button>
    </form>
</div>


<div class="col-md-6">
    <draggable 
               id="note.id"
               title="note.title"
               description="note.description"
               ng-repeat="note in data.notes track by $index">

    </draggable>

    <trashable id="4" trashTitle="'Trash'"></trashable>
</div>

<div class="col-md-offset-0">
    <droppable id="1" body="'Todo'"></droppable>
    <droppable id="2" body="'WIP'"></droppable>
    <droppable id="3" body="'Done'"></droppable>
</div>



